@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Dosis|Montserrat&display=swap');
body{font-family: 'Dosis', sans-serif; background-color:#DDDDDD;}
a, a:hover{text-decoration: none;}

/*Button Config*/
.btn-primary{background-color:#80B435; border:none; letter-spacing: 2px; border-radius: 15px; opacity: 1; padding: 10px 20px; transition: all 0.5s;}
.btn-primary span{cursor: pointer; display: inline-block; position: relative; transition: 0.5s;}
.btn-primary span:after{content: '\00bb'; position: absolute; opacity: 0; top: 0; right: -20px; transition: 0.5s;}
.btn-primary:hover{background-color:#80B435;}
.btn-primary:hover span{padding-right: 25px;}
.btn-primary:hover span:after{opacity: 1; right: 0;}

/*Hover Config*/
.elementor-animation-grow {
  transition-duration: 1s;
  transition-property: transform;
}
.elementor-animation-grow:hover {
  transform: scale(1.1);
  filter: brightness(105%);
}
.card-hover{box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
.card-hover:hover{box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}

/*Header Config*/
#header .navbar {
	border: 1px solid;
	border-radius: 10px;
	letter-spacing: 2px;
}
#header .logo-icon{width: 40px; height: 40px; background:#80B435;float: left;}
#header .logo-icon i{color: #fff;}
#header .logo-text{float: left; margin-left: 10px;}
#header .logo-text p{margin-bottom: 0px; font-family: 'Montserrat'; color:#4b4b4b; font-weight: 800; line-height: 20px; }
#header .logo-text span{font-size:16px; color: #9B9B9B; font-weight:600;}
.navbar-light .navbar-nav .nav-link {
  color: rgba(75, 75, 75, 0.5);
  font-weight: 700;
}
#header .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #4b4b4b;
	border-bottom: solid 2px #8EB63E;
}
#header .dropdown-item.active, #header .dropdown-item:active{background-color: #80B435}

/*Footer Config*/
#footer .footer-html{position:relative; z-index: 45; bottom: 200px;}
#footer .footer-about-us{position:relative; z-index: 45; bottom: 160px;}
#footer .footer-guide{position:relative; z-index: 45; bottom: 100px;}
#footer p{font-family: 'Montserrat'; color:#ffffff;}
#footer .bg-footer{min-height:100px; background-color:#222222;}
#footer .logo-icon{width: 40px; height: 40px; background:#ffffff;float: left;}
#footer .logo-icon i{color: #000;}
#footer .logo-text{float: left; margin-left: 10px;}
#footer .logo-text p{margin-bottom: 0px; font-weight: 800; line-height: 20px; letter-spacing: 2px; }
#footer .logo-text span{font-size:16px; font-weight:600;}
#footer .footer-text p{font-size: 14px;}
#footer h4{color:#ffffff; font-family: 'Montserrat'; font-weight:600;}
#footer .footer-border{height:1px; width:100%; background-color: #C4C4C4}

/*Carousel Config*/
#carousel .carousel-inner{max-height:800px;}
#carousel .carousel-indicators li{border-radius: 50%; width:10px; height:10px;background-color: #FFFFFF;}
#carousel .carousel-indicators li.active{background-color: #8EB63E}
#carousel .carousel-indicators{margin-bottom: 5rem;}
#carousel .carousel-caption{bottom: 30%; text-align:left;}
#carousel .carousel-caption h1{font-size:48px;}
#carousel .carousel-caption h4{color:#8EB63E; font-weight: 800;}
#carousel .carousel-caption h4 span{font-size: 1.25rem; color:#9B9B9B; text-decoration: line-through; padding-left: 10px;}
#carousel .logo-caption{position: absolute; bottom:15%; left:12%;}
#carousel .logo-caption ul{list-style: none;}
#carousel .logo-caption ul li{float: left;}
#carousel .logo-caption ul li a{color:#ffffff; padding-right:15px; font-size:20px;}
@media (max-width:768px){
	#carousel .carousel-indicators{margin-bottom: 0;}
	#carousel .carousel-caption{bottom: 10%; text-align: center;}
	#carousel .carousel-control-prev, #carousel .carousel-control-next{bottom: 0%;}
}
@media (max-width:576px){
	#carousel .carousel-inner{height:300px;}
	#carousel .carousel-inner .carousel-item{height: 100%;}
	#carousel .carousel-inner .carousel-item img{height: 100%;}
	#carousel .carousel-caption h1{font-size:36px;}
	#carousel .carousel-caption h4{font-size:18px;}
	#carousel .carousel-caption h4 span{font-size: 12px;}
	#carousel .btn{font-size:0.75rem;}
}
@media (min-width:769px) and (max-width:1920px){
	#carousel .carousel-control-prev, #carousel .carousel-control-next{height: 13%; width: 5%; background-color: #8EB63E; border-radius: 10px;}
	#carousel .carousel-control-prev{top:73%; left:79%;}
	#carousel .carousel-control-next{top:73%; right:10%;}
}
@media (min-width:1025px) and (max-width:1920px){
	#carousel .carousel-caption h5{font-size:32px;}
	#carousel .carousel-caption h1{font-size:72px;}
	#carousel .carousel-caption h4{font-size:48px;}
	#carousel .carousel-caption h4 span{font-size: 36px;}
	#carousel .carousel-caption{bottom: 30%;}
	#carousel .logo-caption{left: 13%;}
	#carousel .carousel-control-prev, #carousel .carousel-control-next{height: 10%; width: 4%;}
	#carousel .carousel-control-prev{top:80%; left:80%;}
	#carousel .carousel-control-next{top:80%; right:11%;}
}
@media (min-width:1361px) and (max-width:1920px){
	#carousel .carousel-caption{bottom: 40%;}
}

/*News Config*/
#news .container{border-radius: 10px; position:relative; z-index: 50; bottom: 30px;}
#news .col-6{float: left;}
#news h3{font-weight:700;}
#news .card-body h5{font-weight:700;}
#news .card-body p{color:#8EB63E;}
#news .card-body span{color:#9B9B9B; text-decoration: line-through; padding-left: 10px;}
#news .card-img-overlay{top:80%; background-color: rgba(0,0,0,0.4); font-weight: 700;}
#news .card-img-overlay h4{color:#ffffff;}
#news .card-img-overlay p{color:#8EB63E;}
@media (max-width:1024px){
	#news .card-img-overlay{top:75%;}
}
@media (max-width:768px){
	#news .card-img-overlay{top:65%;}
}

#event .card-img-overlay{top:60%}
@media (max-width:1024px){
	#event .card-img-overlay{top:55%;}
}
@media (max-width:768px){
	#event .card-img-overlay{top:40%;}
}
#news .card:hover > .elementor-animation-grow{
	transform: scale(1.1);
    filter: brightness(105%);
}

/*PR Config*/
#pr .bg-cay{position:relative; min-height: 100px; background-color: rgba(61,111,21,1.00); z-index: 40; bottom: 50px;}
#pr .img-cover{position:absolute; object-fit: cover; width: 100%; height: 100%; opacity: 0.2;}
#pr h1{padding: 50px 0; color: #fff;}

/*Product*/
#product .container{border-radius: 10px; position:relative; z-index: 50; bottom: 80px;}
#product h3{font-weight:700;}
#product i{color: #8EB63E; font-size:48px; margin-bottom: 5px;}
#product h6{font-weight:700; text-transform: uppercase;}
#product p{color: #9B9B9B; font-size: 16px;}
#product .about-us{border-right: 1px solid #9B9B9B; margin-bottom: 15px;}
#product .about-us:last-child{border-right:none;}
@media (max-width:768px){
	#product .about-us:nth-child(2){border-right: none;}
}
@media (max-width:576px){
	#product .about-us{border-right:none; border-bottom: 1px solid #9B9B9B;}
	#product .about-us:last-child{border-bottom:none;}
}
#product-list li a{font-weight:600; color: #000000; font-size: 18px;}
#product-list li a.active{color: #8EB63E;}
#product-list .card-body h5{font-weight:700;}
#product-list .card-body p{color:#8EB63E;}
#product-list .card-body span{color:#9B9B9B; text-decoration: line-through; padding-left: 10px;}
#product-list .card-product{position: relative; overflow:hidden; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
#product-list .card-product-icon{position: absolute; top: 50%; left: 90%; transition-duration: 1s; transition-property: left;}
#product-list .card-product-icon ul{list-style: none;}
#product-list .card-product-icon ul li a i{font-size: 24px; color: #4b4b4b; padding: 10px;}
#product-list .card-product-icon ul li a i:hover{color:#8EB63E;}
#product-list .card-product-icon ul li{border-bottom: 1px solid #4b4b4b;}
#product-list .card-product-icon ul li:last-child{border-bottom:none;}
#product-list .card-product:hover{box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
#product-list .card:hover > .card-product-icon{left: 65%;}
@media (max-width:1024px){#product-list .card:hover > .card-product-icon{left: 60%;}}
@media (max-width:768px){#product-list .card:hover > .card-product-icon{left: 70%;}}
#product .btn-primary span a{color:#ffffff;}

/*PR2 Config*/
#pr2 .bg-cay{position:relative; min-height: 100px; background-color: #222222; z-index: 40; bottom: 100px;}
#pr2 .img-cover{position:absolute; object-fit: cover; width: 100%; height: 100%; opacity: 0.2;}
#pr2 h1{padding: 50px 0; color: #fff;}

/*Service Config*/
#service .container{border-radius: 10px; position:relative; z-index: 50; bottom: 130px;}
#service .card-main{min-height: 610px;}
#service h3{font-weight:700;}
#service p{color:#4b4b4b; font-size: 18px;}
#service .card h4{font-weight:600;}
#service .btn-circle{border-radius: 50%; padding: 10px 15px; position: absolute; right: 10px; top: 10px; background-color: rgba(196,196,196,0.5); transition: all 0.0s;}
#service .btn-circle:hover{transform: rotateY(360deg); transition: all 1s ease;}
#service .btn-circle a{font-size: 18px; color: #222222;}
#service .card-special{background-color: #DEFBA5;}
#service .card ul{list-style:none; margin-top: -15px}
#service .card ul li{font-weight:600; font-size: 24px; margin-bottom: 15px;}
#service .card-ceo-text{margin-left:75px; min-height: 210px;}
#service .card-ceo .btn-circle{left: 10px; top: 25px;}

/*Banner*/
#banner .container-fluid{padding:0;}

/*AboutUs*/
#about-us .container{border-radius: 10px; position:relative; z-index: 50; bottom: 30px;}
#about-us h4, #about-us h2{color: #222222; font-weight: 600;}
#about-us p{color: #4B4B4B;}
#about-us .title{color:#8EB63E;}
#about-us .btn-circle{border-radius: 50%; padding: 10px 15px; position: absolute; left: -65px; top: 0px; background-color: rgba(196,196,196,0.5); transition: all 0.0s;}
#about-us .btn-circle:hover{transform: rotateY(360deg); transition: all 1s ease;}
#about-us .btn-circle a{font-size: 18px; color: #222222;}
#about-us .card-ceo-text{margin-left:75px; position: relative}
#about-us .about-us-title{background-color: #8EB63E;}
#about-us .about-us-title p{font-size: 48px; color: #ffffff; font-weight: 500; padding: 100px 25px;}
#about-us .about-us-title [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {font-size: 300px; color: rgba(255,255,255,0.1)}
#about-us .flaticon-plant{position: absolute; bottom: 60px; right: 20px;}

/*Carousel-2*/
#carousel-2 .container-fluid{position: relative; z-index: 40; bottom: 60px; padding: 0;}
#carousel-2 .carousel-caption{text-align:left; bottom: 10%;}
@media (max-width:576px){
	#carousel-2 .carousel-caption h1{font-size: 24px;}
}

/*Partner*/
#partner .container{border-radius: 10px; position:relative; z-index: 50; bottom: 90px;}
#partner h3{font-weight: 600;}
#partner p{color: #4B4B4B;}
#partner .form-group .form-control{width:30%; border:none; border-bottom: 1px solid #9B9B9B;}
#partner ::placeholder {text-align: center; color: #9B9B9B; font-size: 24px; font-weight: 600;}
#partner ::-webkit-input-placeholder { /* Edge */
  text-align: center; color: #9B9B9B; font-size: 24px; font-weight: 600;
}
#partner .btn-light{color: #9B9B9B; font-size: 24px; font-weight: 600; border: 2px solid #9B9B9B; border-radius: 10px; padding: 5px 75px;}

/*Banner-2*/
#banner-2 .container-fluid{padding:0; text-align: center; background-image: url("../images/header.jpg"); min-height: 300px;}
#banner-2 h1{color:#ffffff; line-height: 300px; margin-bottom: 0px;}

/*Banner-3*/
#banner-3 .container-fluid{padding:0; text-align: center; background-image: url("../images/header-2.jpg"); min-height: 300px;}
#banner-3 h1{color:#ffffff; line-height: 300px; margin-bottom: 0px;}

/*Banner-4*/
#banner-4 .container-fluid{padding:0; text-align: center; background-image: url("../images/header-3.jpg"); min-height: 300px;}
#banner-4 h1{color:#ffffff; line-height: 300px; margin-bottom: 0px;}

/*Guide*/
#guide .container{border-radius: 10px; position:relative; z-index: 50; bottom: 30px;}
#guide h3{font-weight: 600;}
#guide p{color: #4B4B4B; font-size: 18px;}
#guide a{color: #8EB63E;}
#guide a:hover{color: #4B4B4B;}
#guide span{color: #8EB63E; font-weight: 600;}
#guide .cachthuc{list-style: upper-roman; padding-inline-start: 20px;}
#guide .cachthuc li{font-size: 24px; font-weight: 600; text-transform: uppercase;}
#guide .cachthuc-2{list-style: decimal; padding-inline-start: 0px;}
#guide .cachthuc-2 li{font-size: 20px; font-weight: 600; text-transform: none;}
#guide .cachthuc-2 p{font-size: 18px; font-weight: 500; color: #4B4B4B;}
#guide .minus{list-style: none; padding-inline-start: 0px;}
#guide .minus li:before { content: "- " }
#guide .minus li{font-size: 18px; font-weight: 500; text-transform: none; color: #4B4B4B;}
#guide .plus{list-style: none; padding-inline-start: 10px;}
#guide .plus li:before { content: "+ " }
#guide .bank{list-style: none; padding-inline-start: 0px;}
#guide .bank-item span{font-weight: 600; color: #4B4B4B;}

/*Contact*/
#contact .container{border-radius: 10px; position:relative; z-index: 50; bottom: 30px;}
#contact h3{font-weight: 600;}
#contact .border-contact{height: 1px; background-color: #8EB63E; width: 150px;}
#contact p{line-height: 50px; color: #222222; font-size: 18px;}
#contact span{font-weight: 600;}

/*News-2*/
#news-2 .container{border-radius: 10px; position:relative; z-index: 50; bottom: 30px;}
#news-2 h3{font-weight: 600;}
#news-2 a{color: #212529;}
#news-2 .row h3:hover{color: #8EB63E;}
#news-2 .row h5:hover{color: #8EB63E;}
#news-2 .btn-light{color: #9B9B9B; font-size: 24px; font-weight: 600; border: 2px solid #9B9B9B; border-radius: 10px; padding: 5px 75px;}

/*Shop*/
#shop .container{border-radius: 10px; position:relative; z-index: 50; bottom: 30px;}
#shop h3{font-weight: 600;}
#shop .btn-light{color: #9B9B9B; font-size: 24px; font-weight: 600; border: 2px solid #9B9B9B; border-radius: 10px; padding: 5px 75px;}